*{
    padding: 0;
    margin: 0;
}

body{
    background-color: #548687;
    text-align: center;
}

.container{
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.game{
    height: 60vmin;
    width: 60vmin;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 1.5vmin;
}
.box{
    height: 18vmin;
    width: 18vmin;
    border-radius: 1rem;
    border: none;
    box-shadow: 0 0 1rem rgb(0,0,0,0.3);
    font-size: 8vmin;
}
#reset-btn{
    width: 20vmin;
    height: 9vmin;
    border-radius: 1rem;
    font-size: 3vmin;
    background-color: black;
    color: white;
}

#msg{
    font-size: 6vmin;
    font-weight: bold;
}

#new-btn{
    width: 20vmin;
    height: 9vmin;
    border-radius: 1rem;
    font-size: 3vmin;
    background-color: black;
    color: white;
}
.msg-container{
    margin-bottom: 8vmin;
}

.hide{
    display: none;
}